<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <title>Register</title>
    <!-- <link rel= "stylesheet" href = "/css/reset.css"> no me anda el link-->
    <link rel= "stylesheet" href = "/css/normalize.css">
    <link rel= "stylesheet" href = "/css/header.css">
    <link rel= "stylesheet" href = "/css/footer.css">
    <link rel= "stylesheet" href = "/css/register.css">
    <link rel= "stylesheet" href = "/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
</head>
<body>
    <header>
        <figure id= 'logo'>
            <img src="/images/logo-mercado-liebre.svg" alt="">
        </figure>
        <form action="/search" method="GET"> 
            <input type="text" name="keyword" id="keyword" placeholder="Buscá productos, marcas..." >
            <button type="submit"> 
            <i class="fas fa-search"></i>
        </button>
        </form>
        <p>
            <i class="fas fa-hand-holding-usd"></i>
             Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav class= "menu" id= "main-menu">
            <ul>
                <li> 
                    <a href ="/">Ofertas</a>
                </li>
                <li> 
                    <a href ="/">Tiendas Oficiales</a>
                </li>
                <li> 
                    <a href ="/">Vender</a>
                </li>
                <li> 
                    <a href ="/">Ayuda</a>
                </li>
            </ul>
        </nav>
        <nav class= "menu" id= "user-menu">
            <ul>
                <li>
                    <a href ="/register">
                        Crea tu cuenta <i class="far fa-id-card"></i>
                    </a>
                </li>
                <li> 
                    <a href ="/login">
                        Ingresá <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href ="">
                        Mis compras <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class= "menu" id= "burger-menu">
            <ul>
                <li> 
                    <a class= "burger">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form class= "register" action="register.html" method="POST">
            <p>
                <input type="text" name="nombre" placeholder="Nombre y Apellido" required>
            </p>
            <p>
                <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" required>
            </p>
            <p>
                <input type="email" name="email" placeholder="E-mail" required>
            <p>
                <label class= "titulo">Fecha de nacimiento:</label>
                <input type="date" name="fecha" required>
            </p>
            <p>
                <input type="text" name="location" placeholder="Domicilio" required>
            </p>
            <p class= "perfil">
                <label class= "titulo"> Perfil del usuario:</label>
                <input type="radio" name="type" value= " Comprador ">
                <label> Comprador </label>
                <input type="radio" name="type" value= " Vendedor ">
                <label> Vendedor </label>
            </p>
            <p class= 'intereses'>
                <label class= "titulo"> Intereses:</label>
                <input type="checkbox" name="intereses" value= "Electro">
                <label class= "categoria"> Electro </label>
                <input type="checkbox" name="intereses" value= "Moda">
                <label class= "categoria"> Moda </label>
                <input type="checkbox" name="intereses" value= "Hogar">
                <label class= "categoria"> Hogar </label>
                <input type="checkbox" name="intereses" value= "Juguetería">
                <label class= "categoria"> Juguetería </label>
                <input type="checkbox" name="intereses" value= "Vida sana">
                <label class= "categoria"> Vida sana </label>
            </p>
            <p>
                <label class= "titulo">Foto de usuario:</label>
                <input type="file" name="avatar" accept= ".jpg">
            </p>
            
            <p>
                <input type="password" name="password" placeholder="Contraseña" required>
            </p>
            <p>
                <input type="password" name="password" placeholder="Confirmar contraseña" required>
            </p>
            <p>
                <button type= "submit">ENVIAR</button>
            </p>
            <p>
                <button type= "reset">Borrar</button>
            </p>
        </form>
    </main>
    <footer>
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
          
            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>      
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
       
     </footer>
</body>
</html>